extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Boxingid = toShow._id 
    - let BoxingStyle= toShow.BoxingStyle
    - let GlovesSize = toShow.quantity 
    - let BoxingGlovesCost = toShow.cost 
    - let actionid = "/resource/Boxings/" + Boxingid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='BoxingAttr mr-3') Boxing ID is: 
        div #{Boxingid} 
      div.row 
        div(class='BoxingAttr mr-3') Boxing BoxingStyle is: 
        div #{BoxingStyle} 
      div.row 
        div(class='BoxingAttr mr-3') Boxing quantity is: 
        div #{GlovesSize} 
      div.row 
        div(class='BoxingAttr mr-3') Boxing cost is: 
        div #{BoxingGlovesCost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Boxing collection 
      window.location.href='/Boxings' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Boxings' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
    