extends layout 
 
block content 
  h1= title 
 
  - let Boxingid = toShow._id 
  - let BoxingStyle = toShow.BoxingStyle 
  - let GlovesSize = toShow.GlovesSize
  - let BoxingGlovesCost = toShow.BoxingGlovesCost
  div 
    div.row 
      div(class='BoxingAttr mr-3') Boxing ID is: 
      div #{Boxingid} 
    div.row 
      div(class='BoxingAttr mr-3') Boxing BoxingStyle is: 
      div #{BoxingStyle} 
    div.row 
      div(class='BoxingAttr mr-3') Boxing GlovesSize is: 
      div #{GlovesSize} 
    div.row 
      div(class='BoxingAttr mr-3') Boxing BoxingGlovesCost is: 
      div #{BoxingGlovesCost} 